{% extends "base.html" %} {% block body %} {% if
extension.scroll_direction.value == 1 %}
<div id="viewer-content" class="h-full overflow-y-scroll scroll-smooth"></div>
<script>
    let images = [];
    let start = 0;
    let done = false;
    const batchSize = 5;

    const viewerContent = document.querySelector("#viewer-content");

    const options = {
        root: null,
        rootMargin: "0px",
        threshold: 0.3,
    };

    const callback = (entries, observer) => {
        entries.forEach((entry) => {
            // Each entry describes an intersection change for one observed
            // target element:
            //   entry.boundingClientRect
            //   entry.intersectionRatio
            //   entry.intersectionRect
            //   entry.isIntersecting
            //   entry.rootBounds
            //   entry.target
            //   entry.time
            if (entry.isIntersecting) {
                observer.disconnect();
                addImages();
            }
        });
    };

    const observer = new IntersectionObserver(callback, options);

    function addImages() {
        for (let i = start; i < images.length; i++) {
            if (i == start + batchSize) {
                break;
            }
            const img = document.createElement("img");
            img.setAttribute("loading", "lazy");
            img.src = images[i];
            if (!done && i == start + batchSize - 2) {
                img.addEventListener("load", () => {
                    observer.observe(img);
                });
            }
            viewerContent.appendChild(img);
        }
        start += batchSize;
    }
    async function load() {
        const res = await fetch("{{image_url}}");
        if (res.status != 200) {
            return;
        }

        images = await res.json();
        done = images.length < batchSize;
        addImages();
    }

    load();
</script>
{% else %}
<div id="viewer-content">
    <div class="relative h-fit">
        <div
            onclick="back()"
            class="absolute w-[50%] left-0 h-full bg-red-500 bg-opacity-20"
        ></div>
        <div
            onclick="forward()"
            class="absolute w-[50%] right-0 h-full bg-green-500 bg-opacity-20"
        ></div>
        <img class="viewer-image" />
    </div>
    <div><span id="current-page"></span>/<span id="max-page"></span></div>
</div>
<script>
    let images = [];
    let current = 0;
    let done = false;
    const batchSize = 3;

    /** @type {Set<number>} */
    const cached = new Set();

    const viewerContent = document.querySelector("#viewer-content");
    const viewerImage = viewerContent.querySelector(".viewer-image");

    const currentPageSpan = document.getElementById("current-page");
    const maxPageSpan = document.getElementById("max-page");

    async function init() {
        currentPageSpan.innerText = 1;

        const res = await fetch("{{image_url}}");
        if (res.status != 200) {
            return;
        }

        images = await res.json();
        maxPageSpan.innerText = images.length;

        done = images.length < batchSize;
        const numImages = done ? images.length : current + batchSize;
        for (let i = 0; i < numImages; i++) {
            const img = new Image();
            img.src = images[i];
            cached.add(i);
        }
        viewerImage.src = images[0];
    }

    function forward() {
        if (current == images.length - 1) {
            return;
        }

        current++;
        viewerImage.src = images[current];
        cached.add(current);
        currentPageSpan.innerText = current + 1;

        const n =
            current + batchSize > images.length
                ? images.length
                : current + batchSize;

        for (let i = current + 1; i < n; i++) {
            if (!cached.has(i)) {
                const img = new Image();
                img.src = images[i];
                cached.add(i);
            }
        }
    }

    function back() {
        if (current == 0) {
            return;
        }

        current--;
        viewerImage.src = images[current];
        cached.add(current);
        currentPageSpan.innerText = current + 1;

        const n = current - batchSize < 0 ? -1 : current - batchSize;

        for (let i = current - 1; i > n; i--) {
            if (!cached.has(i)) {
                const img = new Image();
                img.src = images[i];
                cached.add(i);
            }
        }
    }
    init();
</script>

{% endif %} {% endblock %}
